main{
    background-color: black;
    color: white;

    .container{
        margin: 0 auto;
        width: 70%;
        height: 100%;

        .all-card{
        display: flex;
        justify-content: space-between;
        align-items: center;
        flex-wrap: wrap;
        }
        .card-wrapper{
            width: calc((100% / 6) - 20px);
            margin: 10px;
    
    
            .single-card{
                // background-color: lightgreen;
                object-fit: cover;
                object-position: top;
                width: 100%;
                aspect-ratio: 1/1;
                overflow-y: hidden;
                
            }
    
            .single-title{
                width: 130px;
                font-size: 10px;
                text-transform: uppercase;
                margin-top: 10px
            }
        }

    }

    .products{
        height: 110px;
        background-color: #0084f9;
      
          .container{
          margin: 0 auto;
          width: 70%;
          height: 100%;
          display: flex;
          justify-content: space-around;
          align-items: center;
          color: white;
      
            div{
              display: flex;
              align-items: center;
      
              img{
              width: auto;
              height: 35px;
              display: inline;
      
              }
      
              &:last-child img{
                  height: 25px;
              }
      
              span{
                padding-left: 10px;
                font-size: 9px;
              }
            
      
            }
      
          }
      
      
        }
}